* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}


.header {
  #trigger {
    display: none;
  }

  #trigger:checked ~ .menu-open {
    display: none;
  }

  #trigger:not(checked) ~ .menu-open {
    display: block;
  }

  .nav {
    height: 75px;
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 230px;
    @media (max-width: 1599px) {
      padding: 0 32px;
    }
    @media (max-width: 667px) {
      padding: 0 16px;
      .profile-menu, .cart-menu {
        display: none;
      }
    }

    a {
      text-decoration: none;
    }

    .nav__logo_search > :first-child {
      margin-right: 41px;
    }

    .gamburg-menu:hover {
      cursor: pointer;
    }

    .nav__menu > :nth-child(2) {
      margin: 0 33px;

    }
  }

  .header__main {
    position: relative;
    max-height: 764px;
    min-height: 363px;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: center;

    .menu {
      position: absolute;
      width: 230px;
      background: #FFFFFF;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
      overflow: auto;

      .menu__close {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 16px;
        right: 16px;
      }

      .menu__wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 37px;
        margin-left: 34px;
        position: relative;

        .menu__heading {
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          margin-bottom: 24px;
        }

        .menu__name {
          font-size: 14px;
          line-height: 17px;
          color: #F16D7F;
          list-style-type: none;
          margin-bottom: 20px;

          .menu__name__list {
            list-style-type: none;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            margin-left: 21.5px;
            margin-top: 12px;

            li {
              margin: 11px 0 0 0;
            }
          }
        }
      }

    }

    .header__main__img {
      max-width: 50%;
      align-self: flex-end;
      @media (max-width: 667px) {
        display: none;
      }
    }

    .header__main__heading {
      width: 50%;
      margin-right: 230px;
      @media (max-width: 1599px) {
        margin-right: 0;
      }
      @media (max-width: 667px) {
        width: unset;
      }

      .heading__positon {
        display: flex;
        justify-content: center;

        .red-cube {
          min-height: 92px;
          min-width: 12px;
          background: #F16D7F;
          margin-right: 16px;
        }

        @media (max-width: 768px) {
          h1 {
            font-size: 20px;
          }
        }

        h1 b {
          font-weight: 900;
          font-size: 48px;
          line-height: 58px;
          color: #222222;
          @media (max-width: 768px) {
            font-size: 44px;
          }
          @media (max-width: 667px) {
            font-size: 38px;
          }
        }

        h1 span {
          color: #F16D7F;
        }
      }

    }
  }

  .header__main_catalog {
    position: relative;
    max-height: 764px;
    min-height: 148px;
    background: #F8F3F4;
    display: flex;
    align-items: center;
    justify-content: center;
    .header__main_catalog__wrapper {
      margin: 0 230px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      @media (max-width: 1599px) {
        margin: 0 16px;
      }
       @media (max-width: 667px) {
         flex-direction: column;
         align-items: center;
      }
      .new-arrivals {
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
        @media (max-width: 667px) {
          margin: 24px 0 32px 0;
        }
      }
      .current-catalog {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        @media (max-width: 667px) {
          margin-bottom: 46px;
        }
        span {
          color: #F16D7F;
        }
      }
    }

    .menu {
      position: absolute;
      width: 230px;
      background: #FFFFFF;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
      overflow: auto;

      .menu__close {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 16px;
        right: 16px;
      }

      .menu__wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 37px;
        margin-left: 34px;
        position: relative;

        .menu__heading {
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          margin-bottom: 24px;
        }

        .menu__name {
          font-size: 14px;
          line-height: 17px;
          color: #F16D7F;
          list-style-type: none;
          margin-bottom: 20px;

          .menu__name__list {
            list-style-type: none;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            margin-left: 21.5px;
            margin-top: 12px;

            li {
              margin: 11px 0 0 0;
            }
          }
        }
      }

    }

  }
}


.main {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @media (max-width: 1599px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (max-width: 768px) {
    margin-top: 20px;
  }
  @media (max-width: 667px) {
    margin-top: 64px;
  }


  .main__collection {
    margin: 0 230px;
    margin-bottom: 96px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 1599px) {
      margin: 0 auto;
      margin-bottom: 96px;
    }
    @media (max-width: 768px) {
      grid-gap: 20px;
      margin-bottom: 154px;
    }
    @media (max-width: 667px) {
      grid-template-columns: 343px;
      grid-template-rows: 247px 247px 247px 111px;
      margin-bottom: 64px;
    }

    .card:last-child {
      grid-column: 1/-1;
    }

    .card {
      position: relative;
      flex-grow: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .card__cover {
        position: absolute;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        background: rgba(33, 22, 22, 0.7);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          color: #F16D7F;
          font-weight: bold;
          font-size: 22px;
          line-height: 22px;
        }
      }

    }
  }

  .gallery {
    margin: 0 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1599px) {
      margin: 0 auto;
    }

    .gallery__heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 48px;
      @media (max-width: 1150px) {
        margin-bottom: 72px;
      }
      @media (max-width: 768px) {
        margin-bottom: 64px;
      }

      h2 {
        font-size: 30px;
        line-height: 36px;
        color: #222222;
      }

      span {
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
      }
    }

    .gallery__wrapper {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 581px;
      @media (max-width: 1150px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 17px;
      }
      @media (max-width: 768px) {
        grid-template-columns: 360px;
      }

      .gallery__card {
        max-width: 360px;
        background-color: #F8F8F8;

        .gallery__card__wrapper:hover .gallery__card__hidden {
          //display: flex;
          opacity: 1;
        }

        .gallery__card__wrapper {
          position: relative;

          .gallery__card__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .gallery__card__hidden {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            //display: none;
            opacity: 0;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(58, 56, 56, 0.86);
            transition: 0.5s;

            label {
              border: 1px solid #FFFFFF;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px 15px;

              span {
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                margin-left: 11px;
              }
            }
          }
        }

        .gallery__card__info {
          display: flex;
          flex-direction: column;
          margin: 24px 18px 20px 18px;

          .gallery__card__heading {
            font-size: 13px;
            line-height: 16px;
            color: #000000;
          }

          .gallery__card__text {
            margin: 12px 0 18px 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5D5D5D;
          }

          .gallery__card__price {
            font-size: 16px;
            line-height: 19px;
            color: #F16D7F;
          }

        }

      }
    }

    .gallery__browse_all_product {
      border: 1px solid #FF6A6A;
      text-align: center;
      padding: 14px 38px;
      margin-bottom: 95px;
      margin-top: 48px;
      background-color: white;
      font-size: 16px;
      line-height: 19px;
      color: #F26376;
      text-decoration: none;
      @media (max-width: 1150px) {
        margin-top: 32px;
        margin-bottom: 65px;
      }
      @media (max-width: 768px) {
        margin-top: 41px;
        margin-bottom: 96px;
      }
    }

    .gallery__browse_all_product:hover {
      background-color: #F16D7F;
      color: white;
    }
  }

  .delivery {
    width: 100%;
    background-color: #222224;

    .delivery-margin {
      margin: 0 230px;
      display: flex;
      justify-content: space-between;
      padding: 103px 0;
      @media (max-width: 1599px) {
        margin: 0;
      }
      @media (max-width: 977px) {
        flex-direction: column;
        align-items: center;
        padding: 48px 0 64px 0;
      }
      @media (max-width: 667px) {
        padding: 48px 0 81px 0;
      }

      .delivery__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 360px;
        @media (max-width: 977px) {
          ~ :nth-child(2) {
            margin: 48px 0;
          }
        }
        @media (max-width: 667px) {
          width: 347px;
          ~ :nth-child(2) {
            margin: 46px 0;
          }
        }


        .delivery__item__info:nth-child(2) {
          margin: 0 30px 0 30px;
        }

        .delivery__item__info {
          display: flex;
          flex-direction: column;
          align-items: center;

          .delivery__item__imfo__heding {
            font-size: 19.96px;
            line-height: 24px;
            color: #FBFBFB;
            margin: 25px 0 16px 0;
          }

          .delivery__item__info__text {
            font-family: Lato;
            font-weight: 300;
            font-size: 13.972px;
            line-height: 17px;
            text-align: center;
            color: #FBFBFB;
            margin: 0 10px 0 10px;
          }

        }
      }
    }
  }

}

.footer {


  .upper-footer {
    background-image: url("img/footerBG.png");
    background-size: cover;

    .upper-footer__wrapper {
      margin: 0 230px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 448px;
      @media (max-width: 1599px) {
        margin: 0 16px;
        justify-content: space-around;
      }
      @media (max-width: 977px) {
        flex-direction: column;
        align-items: center;
        padding: 64px 0 140px 0;
        justify-content: space-between;
        min-height: 0;
      }
      @media (max-width: 667px) {
        padding: 64px 0 109px 0;
      }

      .upper-footer__left {
        width: 360px;
        @media (max-width: 977px) {
          margin-bottom: 48px;
        }
        @media (max-width: 667px) {
          margin-bottom: 59px;
        }

        .subscribe-user {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .subscribe-user__text {
            max-width: 359px;
            font-family: Lato;
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            color: #222224;
            margin-top: 30px;
          }
        }
      }

      .upper-footer__right {
        width: 364px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .upper-footer__right__heading {
          font-size: 24px;
          font-weight: bold;
          line-height: 167.2%;
          text-align: center;
          color: #222224;
        }

        .upper-footer__right__text {
          font-size: 19px;
          line-height: 167.2%;
          text-align: center;
          color: #222224;
        }

        .upper-footer__right__form {
          margin-top: 30px;
          display: flex;
          width: 356px;

          .upper-footer__right__form_input {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            padding: 15px 25px;
            background: #E1E1E1;
            font-size: 14px;
            line-height: 17px;
            color: #222224;
            opacity: 0.67;
            border: 0;
            width: 100%;
          }

          .upper-footer__right__form_button {
            background: #F16D7F;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            padding: 15px 25px;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            border: 0;
          }
        }
      }

    }


  }

  .lower-footer {
    background: #222224;

    .lower-footer-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 230px;
      @media (max-width: 1599px) {
        margin: 0 32px;
        justify-content: space-around;
      }
      @media (max-width: 768px) {
        flex-direction: column-reverse;

      }
      @media (max-width: 667px) {
      }

      .lower-footer__all_rights_reserved {
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
        width: 251px;
        @media (max-width: 768px) {
          margin-bottom: 9px;
        }
      }

      .lower-footer__social_networks {
        display: flex;
        justify-content: space-around;
        margin: 24px 7px;
        width: 147px;

        a {
          width: 32px;
          height: 32px;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          padding: 0;
          color: black;
        }

        a:hover {
          background-color: #F16D7F;
          color: white;

          img {
            filter: invert(1);
          }
        }

        @media (max-width: 768px) {
          margin: 43px 0 40px 0;
        }
      }
    }


  }

}

//@media (max-width: 1599px) {
//}
//@media (max-width: 768px) {
//}
//@media (max-width: 667px) {
//}